header{
    height: 100px;
    background: #0900ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}