.launch{
    border: 2px solid darkgray;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.launch:hover{
    background-color: rgba(173, 216, 230, 0.42);
}
.img{
    margin: 1% 10% 1% 0;
}
.photo{
    width: 150px;
}
.info{
    margin-left: 10%;
}